/*@font-face {
    font-family: 'Montserrat'; 
    src: url('Montserrat-VariableFont_wght.ttf') format('truetype'); /* Ruta relativa o absoluta de tu archivo .ttf 
}*/

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@600&family=Gabarito&family=Permanent+Marker&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
   
}

body{
    background: #19274a;
}

#simulator{
    width: 100%;
    max-width: 1300px;
    padding: 50px 60px;
    border: 1px solid #19274a;
    margin: 100px auto;
    box-shadow: 0 0 3em #4960ac;
}

h1{
    font-size: 34px;
    font-weight: 700;
    color: #9dd8ff;
    text-align: center;
    padding-bottom: 50px;
    border-bottom: 2px solid #7a93ab;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.cont-flex{
    width: 100%;
    display: flex;
}

.left,
.right{
    width: 50%;
    padding: 40px 20px;
}

h2{
    color: #9dd8ff;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 14px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.left p{
    margin-bottom: 30px;
    color: #9dd8ff;
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.group-data.two-columns{
    width: 50%;
    box-sizing: border-box;
}
.group-data.one-column{
    width: 100%;
}

.group-data.three-columns{
    width: 60%;
}

.group-data.four-columns{
    width: 40%;
}

.group-data{
    padding-right: 16px;
}
.group-data label{ 
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
}
.group-data input,
.group-data select{
    display: block;
    margin-bottom: 30px;
    width: 100%;
} 

.form button{
    display: block;
    width: 97%;
    padding: 14px 80px;
    background: #4960ac;
    color: #9dd8ff;
    border: 1px solid #4960ac;
    transition: .4s;
    cursor: pointer;
}

.form button:hover{
    background: #19274a;
    border: 1px solid #4960ac;
    color: #4960ac;
}

input, select{
    padding: 14px 30px;
    background: #f5f8fa;
    border: 0;
    border-bottom: 2px solid #7a93ab;
    outline: none;
}
input::placeholder {
    color: #000000c9; /* Cambia este valor al color que desees */
}

.right .pre-simulation{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img{
    max-width: 80%;
}

.right .post-simulation {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    padding: 0 60px;
}

.post-simulation.disabled,
.pre-simulation.disabled {
    display: none;
}

.right .post-simulation h3{
    color: #9dd8ff;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 40px;
}

.right .post-simulation h3 span{
    color: #ffffff;
    font-weight: 600;
    font-size: 24px;
}

.right .total{
    background: #6d83ca;
    padding: 30px;
    color: white;
}

.right .total h4{
    font-size: 28px;
    color: white;
}

.right .total h2{
    font-size: 36px;
    padding: 14px 0;
    color: #19274a;
}

.total p{
    font-weight: 400;
}

.total p span{
    font-weight: 600;
}

.notificacion{
    padding: 20px;
    border: 1px solid #9dd8ff;
    margin-top: 40px;
}

.notificacion h5{
    font-weight: 400;
}

.notificacion h5 span{
    font-weight: 700;
}